{% extends "base.html" %}

{% block title %} 
{% spaceless %} 
<span style="font-size:1.6em;"><span style="font-size: 1.2em;">G</span><span style="font-size: 0.8em;">o</span><span style="font-size: 0.8em;">v</span><span style="font-size: 1em;">P</span><span style="font-size: 0.8em;">i</span><span style="font-size: 0.8em;">x</span>
<span class="tagline">: an easier way to resolve photos of the U.S Congress</span></span>{% endspaceless %} 
 {% endblock  %}

{% block login %}

{% endblock login %}

{% block main %}

<div class="appspanel">




<div class="namepanel">



<div class="bluebackground"> <h2><a>#Name-to-Image</a></h2>  </div>

<div style="padding-top:5px; width: 260px;">
Is it really this easy, <a href="/Nancy Pelosi">Nancy Pelosi</a>?
<br/><br/>And it will work with only a last name, <a href="/Kennedy">Mr.Kennedy</a> and <a href="/Paul">Mr.Paul</a>? 
</div>
<br/> 
<div class="footnote">Results are Cached. Hot-Linking is Encouraged.</a></div>


</div><div class="zippanel">



<div class="bluebackground"> <h2><a >#ZipCode-to-Image</a></h2> </div>


<div style="width:270px">Now <b>this</b> ought to be useful with those map mashups...<br/><br/>
Isn't that right, <a href="/94608">94608</a>, <a href="/90210">90210</a>, <a href="/50212">50212</a>, and <a href="/37188">37188</a>?</div><br/>


</div>


</div>


{% endblock main %}

{% block login_status %}
{% endblock login_status %}
